<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="1Aster_Web_Regression_Test_Suite" parallel="tests" thread-count="4">
	<listeners>
		<!--<listener class-name="com.web.aster.Listeners.TestListener" />-->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>

	<test name="TC001_Register_As_New_User_Chrome1">
		<parameter name="browser" value="chrome" />
		<parameter name="version" value="null" />
		<parameter name="environment" value="uat" />
		<parameter name="platform" value="null" />
		<parameter name="executionEnv" value="local" />
		<classes>
			<class name="com.web.aster.Tests.TC001_Register_As_New_User" />
		</classes>
	</test>
	

	<test name="TC001_Register_As_New_User_firefox">
		<parameter name="browser" value="firefox" />
		<parameter name="version" value="null" />
		<parameter name="environment" value="uat" />
		<parameter name="platform" value="null" />
		<parameter name="executionEnv" value="local" />
		<classes>
			<class name="com.web.aster.Tests.TC001_Register_As_New_User" />
		</classes>
	</test>
</suite>